:root {
  margin: 0;
  --width: 200px;
  --x-speed: 3.75s;
  --y-speed: 2.4s;
  --transition-speed: 2.2s;
}

.header {
  position: fixed;
  padding-left: 10px;
  font-size: 20px;
  z-index: 5;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.sceneX {
  height: var(--width);
  width: var(--width);
  animation: x var(--x-speed) linear infinite alternate;
}

.sceneY {
  height: var(--width);
  width: var(--width);
  animation: y var(--y-speed) linear infinite alternate;
}

.sceneY:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.sceneX:hover {
  animation-play-state: paused;
}

@keyframes x {
  100% {
    transform: translateX(calc(100vw - var(--width)));
  }
}

@keyframes y {
  100% {
    transform: translateY(calc(100vh - var(--width)));
  }
}
