* {
  margin: 0;
}

:root {
  margin: 0;
  --x-speed: 3.75s;
  --y-speed: 2.4s;
  --transition-speed: 2.2s;
}

.about {
  font-size: 50px;
}

body {
  margin: 0;
}

.sceneAbout {
  position: fixed;
}

.sceneY,
.sceneCV,
.sceneProjects,
.sceneContact {
  height: var(--width);
  width: var(--width);
  animation: y var(--y-speed) linear infinite alternate;
  position: fixed;
}

.sceneX {
  height: var(--width);
  width: var(--width);
  animation: x var(--x-speed) linear infinite alternate;
  position: fixed;
}

.sceneX2 {
  height: var(--width);
  width: var(--width);
  animation: x2 var(--x-speed) linear infinite alternate;
  position: fixed;
  right: 0px;
}

.sceneY:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.sceneX:hover {
  animation-play-state: paused;
}

@keyframes x {
  100% {
    transform: translateX(calc(100vw - var(--width)));
  }
}

@keyframes y {
  100% {
    transform: translateY(calc(100vh - var(--width)));
  }
}

@keyframes y2 {
  100% {
    transform: translateY(calc(100vh - var(--width)));
  }
}

@keyframes x2 {
  100% {
    transform: translateX(calc(-100vh - var(--width)));
  }
}

.pauseButton {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-style: normal;
  font-size: 40px;
  padding: 0px 15px;
}

.pauseButton:hover {
  background-color: black;
  color: white;
  border-radius: 40px;
}

.projects {
  width: 90%;
}

.project img {
  width: 80%;
  height: auto;
}
